<ul class="nav-level-1">

  <!-- Content Control Section -->
  <li>
    <button class="nav-toggle {% if active == 'content-control' %}active expanded{% endif %}" data-section="content-control" aria-expanded="{% if active == 'content-control' %}true{% else %}false{% endif %}" aria-controls="nav-content-control">
      Content control <span class="arrow"></span>
    </button>
    <ul id="nav-content-control" class="nav-level-2 {% if active == 'content-control' %}show{% endif %}">
      <li><a href="{{ '/content-control/moving-content/' | url }}" class="{% if page.url == '/content-control/moving-content/' %}active{% endif %}">Moving content</a></li>
      <li><a href="{{ '/content-control/copying-content/' | url }}" class="{% if page.url == '/content-control/copying-content/' %}active{% endif %}">Copying content</a></li>
      <li><a href="{{ '/content-control/keyboard-shortcuts/' | url }}" class="{% if page.url == '/content-control/keyboard-shortcuts/' %}active{% endif %}">Keyboard Shortcuts</a></li>
    </ul>
  </li>

  <!-- Word Section -->
  <li>
    <button class="nav-toggle {% if active == 'word' %}active expanded{% endif %}" data-section="word" aria-expanded="{% if active == 'word' %}true{% else %}false{% endif %}" aria-controls="nav-word">
      Word <span class="arrow"></span>
    </button>
    <ul id="nav-word" class="nav-level-2 {% if active == 'word' %}show{% endif %}">
      <li><a href="{{ '/word/getting-started-word/' | url }}" class="{% if page.url == '/word/getting-started-word/' %}active{% endif %}">Getting started with Word</a></li>
      <li><a href="{{ '/word/documents-vs-templates/' | url }}" class="{% if page.url == '/word/documents-vs-templates/' %}active{% endif %}">Documents vs Templates</a></li>
      <li><a href="{{ '/word/pages-and-views/' | url }}" class="{% if page.url == '/word/pages-and-views/' %}active{% endif %}">Pages and views</a></li>
      <li><a href="{{ '/word/saving-and-save-as/' | url }}" class="{% if page.url == '/word/saving-and-save-as/' %}active{% endif %}">Saving and Save As</a></li>
      <li><a href="{{ '/word/save-as-pdf/' | url }}" class="{% if page.url == '/word/save-as-pdf/' %}active{% endif %}">Save as PDF</a></li>
      <li><a href="{{ '/word/selecting-text/' | url }}" class="{% if page.url == '/word/selecting-text/' %}active{% endif %}">Selecting text</a></li>
      <li><a href="{{ '/word/formatting-text/' | url }}" class="{% if page.url == '/word/formatting-text/' %}active{% endif %}">Formatting text</a></li>
      <li><a href="{{ '/word/font-options/' | url }}" class="{% if page.url == '/word/font-options/' %}active{% endif %}">Font options</a></li>
      <li><a href="{{ '/word/paragraph-options/' | url }}" class="{% if page.url == '/word/paragraph-options/' %}active{% endif %}">Paragraph options</a></li>
      <li><a href="{{ '/word/styles/' | url }}" class="{% if page.url == '/word/styles/' %}active{% endif %}">Styles</a></li>
      <li><a href="{{ '/word/indents/' | url }}" class="{% if page.url == '/word/indents/' %}active{% endif %}">Indents</a></li>
      <li><a href="{{ '/word/page-breaks/' | url }}" class="{% if page.url == '/word/page-breaks/' %}active{% endif %}">Page breaks</a></li>
      <li><a href="{{ '/word/section-breaks/' | url }}" class="{% if page.url == '/word/section-breaks/' %}active{% endif %}">Section breaks</a></li>
      <li><a href="{{ '/word/headers-and-footers/' | url }}" class="{% if page.url == '/word/headers-and-footers/' %}active{% endif %}">Headers and Footers</a></li>
      <li><a href="{{ '/word/lists-fixing-number-lists/' | url }}" class="{% if page.url == '/word/lists-fixing-number-lists/' %}active{% endif %}">Lists: Fixing number lists</a></li>
      <li><a href="{{ '/word/lists-soft-hard-returns/' | url }}" class="{% if page.url == '/word/lists-soft-hard-returns/' %}active{% endif %}">Lists: Soft & hard returns</a></li>
      <li><a href="{{ '/word/tables/' | url }}" class="{% if page.url == '/word/tables/' %}active{% endif %}">Tables</a></li>
      <li><a href="{{ '/word/tables-formatting/' | url }}" class="{% if page.url == '/word/tables-formatting/' %}active{% endif %}">Tables: Formatting</a></li>
      <li><a href="{{ '/word/tables-fixing-tables-extending-offscreen/' | url }}" class="{% if page.url == '/word/tables-fixing-tables-extending-offscreen/' %}active{% endif %}">Tables: Fixing tables extending offscreen</a></li>
      <li><a href="{{ '/word/tables-fixing-tables-over-pages/' | url }}" class="{% if page.url == '/word/tables-fixing-tables-over-pages/' %}active{% endif %}">Tables: Fixing tables over pages</a></li>
      <li><a href="{{ '/word/images/' | url }}" class="{% if page.url == '/word/images/' %}active{% endif %}">Images</a></li>
      <li><a href="{{ '/word/objects/' | url }}" class="{% if page.url == '/word/objects/' %}active{% endif %}">Objects</a></li>
      <li><a href="{{ '/word/objects-embedded-files/' | url }}" class="{% if page.url == '/word/objects-embedded-files/' %}active{% endif %}">Objects: Embedded Files</a></li>
      <li><a href="{{ '/word/altering-images-and-objects/' | url }}" class="{% if page.url == '/word/altering-images-and-objects/' %}active{% endif %}">Altering images and objects</a></li>
      <li><a href="{{ '/word/table-of-contents/' | url }}" class="{% if page.url == '/word/table-of-contents/' %}active{% endif %}">Table of contents</a></li>
      <li><a href="{{ '/word/table-of-contents-custom/' | url }}" class="{% if page.url == '/word/table-of-contents-custom/' %}active{% endif %}">Custom table of contents</a></li>
      <li><a href="{{ '/content-control/keyboard-shortcuts/#word-keyboard-shortcuts' | url }}" class="{% if page.url == '/content-control/keyboard-shortcuts/#word-keyboard-shortcuts' %}active{% endif %}">Word Keyboard Shortcuts</a></li>
    </ul>
  </li>

  <!-- Excel Section -->
  <li>
    <button class="nav-toggle {% if active == 'excel' %}active expanded{% endif %}" data-section="excel" aria-expanded="{% if active == 'excel' %}true{% else %}false{% endif %}" aria-controls="nav-excel">
      Excel <span class="arrow"></span>
    </button>
    <ul id="nav-excel" class="nav-level-2 {% if active == 'excel' %}show{% endif %}">
      <li><a href="{{ '/content-control/keyboard-shortcuts/#excel-keyboard-shortcuts' | url }}" class="{% if page.url == '/content-control/keyboard-shortcuts/#excel-keyboard-shortcuts' %}active{% endif %}">Excel Keyboard Shortcuts</a></li>
    </ul>
  </li>

  <!-- PowerPoint Section -->
  <li>
    <button class="nav-toggle {% if active == 'powerpoint' %}active expanded{% endif %}" data-section="powerpoint" aria-expanded="{% if active == 'powerpoint' %}true{% else %}false{% endif %}" aria-controls="nav-powerpoint">
      PowerPoint <span class="arrow"></span>
    </button>
    <ul id="nav-powerpoint" class="nav-level-2 {% if active == 'powerpoint' %}show{% endif %}">
      <li><a href="{{ '/powerpoint/getting-started-powerpoint/' | url }}" class="{% if page.url == '/powerpoint/getting-started-powerpoint/' %}active{% endif %}">Getting started with PowerPoint</a></li>
      <li><a href="{{ '/content-control/keyboard-shortcuts/#powerpoint-excel-keyboard-shortcuts' | url }}" class="{% if page.url == '/content-control/keyboard-shortcuts/#excel-keyboard-shortcuts' %}active{% endif %}">Excel Keyboard Shortcuts</a></li>
    </ul>
  </li>


<!-- Glossary Section -->
<li>
  <a href="{{ '/glossary/' | url }}" class="nav-toggle {% if active == 'glossary' %}active expanded{% endif %}" data-section="glossary" aria-expanded="{% if active == 'glossary' %}true{% else %}false{% endif %}" aria-controls="nav-glossary">
    Glossary <span class="arrow"></span>
  </a>
</li>


